@using ExpenseTrack.Models.UserProfile
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.AspNetCore.Identity
@using ExpenseTrack.Areas.Identity.Data
@using ExpenseTrack.Data
@using Microsoft.EntityFrameworkCore

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var context = ViewContext.HttpContext.RequestServices.GetRequiredService<ExpenseTrackContext>();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            @{
                var user = await UserManager.GetUserAsync(User);
                var firstName = user?.firstName ?? "User"; // Use "User" if the first name is not available
                var userInfo = context.UserInfo.FirstOrDefault(u => u.UserId == user.Id);
                var userProfilePicture = "/images/default.jpg"; // Set a default profile picture URL

                // Check if the user has a profile picture
                if (userInfo != null && !string.IsNullOrEmpty(userInfo.UserProfilePicture))
                {
                    userProfilePicture = userInfo.UserProfilePicture;
                }
            }

            <div class="d-flex align-items-center">
                <!-- Display user profile picture as a small icon -->
                <img src="@userProfilePicture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 8px;" alt="Profile Icon" />

                <!-- Display "Hello user" message -->
                <a class="nav-link text-dark">Hello @firstName!</a>
            </div>
        </li>

        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
