@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>Welcome @ViewData["FullName"] </h5>

        <div>
        <a href="@Url.Action("Index", "UserProfile")">Go to Profile Settings</a>
        </div>
    <div>
        <a href="@Url.Action("Index", "Expense")">Manage Your Expense</a>
    </div>
</div>

