@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h5>Welcome @ViewData["FullName"] </h5>
        <div>
            <h5 id="Balance">@ViewData["Balance"]</h5>
            <button id="increaseBalanceButton" class="btn btn-primary">Increase Balance</button>

            <div id="increaseBalanceContainer" style="display: none;">
                <input type="number" id="amountInput" placeholder="Enter amount" />
                <button id="submitIncreaseBalance" class="btn btn-success">Submit</button>
                <div id="invalidAmountMessage" style="color: red; display: none;"></div>
            </div>

            <div id="expensePartialContainer"></div>
        </div>
    }
    else
    {
        <p>Please log in to view your profile settings and manage your expenses.</p>
    }
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#increaseBalanceButton").click(function () {
                console.log("Increase Balance button clicked");
                $("#increaseBalanceContainer").show();
            });

            $("#submitIncreaseBalance").click(function () {
                console.log("Submit Increase Balance button clicked");
                var amount = parseFloat($("#amountInput").val());

                if (!isNaN(amount) && amount > 0) {
                    console.log("Valid amount: " + amount);

                    $.post('@Url.Action("IncreaseBalance")', { amount: amount }, function () {
                        console.log("Increase Balance success");
                        // Update the balance dynamically
                        updateBalance();
                        // Clear the input field
                        $("#amountInput").val('');
                        // Hide the invalid amount message if shown
                        $("#invalidAmountMessage").hide();
                    });
                } else {
                    // Provide user feedback for invalid input on the page
                    $("#invalidAmountMessage").text("Please enter a valid positive amount.").show();
                }
            });

            function updateBalance() {
                // Retrieve the updated balance from the server and update the UI
                $.get('@Url.Action("Index", "Home")', function (data) {
                    $("#Balance").html($(data).find("#Balance").html());
                });
            }
        });
    </script>
}
