@model ExpenseTrack.Models.UserProfile.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}
<h2>User Profile</h2>

<h4>Name: @Model.Name</h4>
<h4>Email: @Model.Email</h4>
@* <h4>Income: @Model.Income</h4> *@

@* <img src="@Model.Picture" alt="Profile Picture"> *@

